.header-container {
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 20px;
}

.video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

h1 {
    color: #ffffff;
    z-index: 1;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    padding: 10px;
    border-radius: 15px;
    width: auto;
    letter-spacing: 3px;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}

.separator {
    margin: 0 auto;
    width: 200px;
    color: #f05f40;
}